= form_for [@book, @new_comment] do |f|
  = f.hidden_field :book_id, value: @book.id
  .row
    .small-1.columns
      .rate-label Rating:
    .small-1.columns.end
      = f.select :rating, Comment::RATING_VALUES
  .row
    .column
      = f.text_area :content, placeholder: "Post a new comment.."
  .row
    .small-9.columns
    .small-2.columns
      = f.submit "Post", class: "button postfix right", id: "post-comment-btn"