.book-container
  .book
    .book-title
      %h1
        = @book.title
    = image_tag @book.photo.url(:medium)
    .book-author
      .book-author-label{style: "display:inline"}
        By:
      .book-author-content{style: "display:inline"}
        = @book.author_name
    .book-description
      .book-description-label{style: "display:inline"}
        Description:
      .book-description-content{style: "display:inline"}
        = @book.description
    .book-publisher
      .book-publisher-label{style: "display:inline"}
        Publisher:
      .book-publisher-content{style: "display:inline"}
        = @book.publisher_name
    .book-published-date
      .book-published-date-label{style: "display:inline"}
        Published date:
      .book-published-date-content{style: "display:inline"}
        = @book.published_date
    .book-price
      .book-price-label{style: "display:inline"}
        Price:
      .book-price-content{style: "display:inline"}
        = number_to_currency(@book.unit_price)
    .book-average-rating
      .book-average-rating-label{style: "display:inline"}
        Average rating:
      .book-average-rating-content{style: "display:inline"}
        = @book.average_rating
    .book-total-rating-count
      .book-total-rating-count-label{style: "display:inline"}
        Total rating count:
      .book-total-rating-count-content{style: "display:inline"}
        = @book.total_rating_count
    .add-to-cart-button
      = button_to "Add to cart", add_book_carts_path(book_id: @book.id), method: "post", class: "add-to-class-btn"

  .comment-rate-box
    - if user_signed_in? && !current_user.commented_on_book?(@book)
      = render "comments/form"

  .comments
    .comment-title
      = "Comments (#{@comments.count})"
    .comment-list
      %ul.comments
        = render @comments
      = will_paginate @comments