<h1><%= @book.title %></h1>

Description: <%= @book.description %> </br>
Author: <%= @book.author_name %> </br>
Publisher: <%= @book.publisher_name %> </br>
Published date: <%= @book.published_date %> </br>
Unit price: <%= @book.unit_price %> </br>
Total rating count: <%= @book.total_rating_count %> </br>
Average rating count: <%= @book.average_rating %>