.cart-container
  .cart-title
    %h1 Shopping cart
  .cart-body
    = form_for update_cart_carts_path, method: "put" do
      %table.cart-item-table
        %thead.cart-item-head
          %tr
            %td Title
            %td Author
            %td Unit price
            %td Quantity
            %td Total price
            %td Remove
        - @cart_items.keys.each do |book_id|
          - cart_item = @cart_items[book_id]
          - book = Book.find_by_id(book_id)
          %tr.cart-item-row
            %td= book.title
            %td= book.author_name
            %td= book.unit_price
            %td.quantity
              = hidden_field_tag "book_ids[]", book_id
              = number_field_tag "quantities[]", cart_item[:quantity], min: 1
              %td= cart_item[:total_price]
            %td remove
      = submit_tag "Update", class: "btn"
      .total-amount
        .total-amount-label
          %b Total amount:
        .total-amount-value
          = "#{session[:cart][:total_amount]}$"